.block {
    color: black;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    width: 200px;
    display: inline-block;
    text-align: center;
}