.orderName {
    text-align: center;
    font-size:xx-large;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.textarea {
    border: 0 solid black;
    font-size: xx-large;
    // height: 10px;   
}