.item{
    // shape
    border: 3px solid red;
    width: 48%;
    min-height: 100px;
    border-radius: 15px;
    position:   relative;

    // text
    
    background-color: white;
    color: black;

    display: inline-block
    
}

.name{
    font-size: 20px;
    border-bottom: 2px solid black;
}

.buttons{
    float: right;
    border: 3px solid black;
    width: 30%;
    height: 100%;
}

.orderlist{
    display: inline-block;
    width: 65%;
    overflow-y: hidden;
}

.button{
    padding: 3px;
}

.price{
    &.payded{
        border: 3px solid green;
        color:green
    }

    &.not_payded{
        color: black;
    }
}




